body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-bar input {
    width: calc(25% - 20px);
    margin: 10px 10px 10px 0;
    display: inline-block;
}

.search-bar .print-icon {
    cursor: pointer;
    color: #333;
    font-size: 1.5em;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.print-row-icon {
    cursor: pointer;
    color: #333;
    font-size: 1em;
}